.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  background-color: $main-bg-color;
}

.address {
}

.icon-footer-wrapper {
}

.title-footer {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $inverts-color;
}

.mailing-wrapper {
  margin-left: auto;
}

//? ================== TABLET VERSION ==================

@media screen and (min-width: $tablet) {
  .footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $main-bg-color;
  }

  .address-wrapper {
  }

  .icon-footer-wrapper {
  }

  .mailing-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

//? ================== DESKTOP VERSION ==================

@media screen and (min-width: $desktop) {
  .footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $main-bg-color;
  }

  .address-wrapper {
    margin-right: 70px;
  }

  .address {
  }

  .icon-footer-wrapper {
    margin-right: auto;
  }

  .title-footer {
    text-align: left;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: $inverts-color;
  }

  .mailing-wrapper {
    margin: 0;
  }
}
