.page-header {
  border-bottom: 1px solid $header-border-color;
}

.site-nav {
  padding: 15px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: $desktop) {
  .page-header {
    border-bottom: 1px solid $header-border-color;
  }

  .site-nav {
    display: flex;
    align-items: center;
  }
}
