.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-list__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list__map {
  color: $inverts-color;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.address-list__contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $main-color;
  }
}

//? ================== DESKTOP VERSION ==================

@media screen and (min-width: $desktop) {
  .address-list {
    text-align: left;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }

  .address-list__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .address-list__map {
    color: $inverts-color;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $main-color;
    }
  }

  .address-list__contact {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
      color: $main-color;
    }
  }
}
