.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-list__item {
  width: calc((100% - 30px) / 2);
}

.customers-list__link {
  @include flexCenter();

  height: 92px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $main-color;
  }
}

.customers-list__icon {
  fill: $icon-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers-list__link:hover &,
  .customers-list__link:focus & {
    fill: $main-color;
  }
}

//? ================== MOBILE VERSION ==================

@media screen and (min-width: $mobile) {
}

//? ================== TABLET VERSION ==================

@media screen and (min-width: $tablet) {
  .customers-list__item {
    width: calc((100% - 60px) / 3);

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }
}

//? ================== DESKTOP VERSION ==================

@media screen and (min-width: $desktop) {
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    // justify-content: stretch;
    gap: 30px;
  }

  .customers-list__item {
    width: calc((100% - 150px) / 6);

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }

  .customers-list__link {
    @include flexCenter();

    // display: flex;
    // align-items: center;
    // justify-content: center;

    height: 92px;
    border: 1px solid $icon-color;
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $main-color;
    }
  }

  .customers-list__icon {
    fill: $icon-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .customers-list__link:hover &,
    .customers-list__link:focus & {
      fill: $main-color;
    }
  }
}
