.doing-list {
  display: flex;
}

.doing-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.doing-list__title {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  width: 100%;

  color: $inverts-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}
