.features-list {
  text-align: center;

  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .features-list__icon {
    @include flexCenter();

    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $button-bgc;
  }
  .features-list__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .features-list__text {
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
  }
}

@media screen and (min-width: $mobile) {
  .features-list {
    text-align: center;

    .features-list__item {
      margin-bottom: 30px;
    }

    .features-list__icon {
      @include flexCenter();

      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;

      background-color: $button-bgc;
    }
    .features-list__title {
      margin-bottom: 10px;

      color: $title-text-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
    }

    .features-list__text {
      font-size: 14px;
      line-height: 1.7;
      text-align: left;
    }
  }
}

@media screen and (min-width: $tablet) {
  .features-list {
    @include flexCenter();
    flex-wrap: wrap;
    gap: 30px;
  }

  .features-list__item {
    width: calc((100% - 60px) / 2);
  }

  .features-list__icon {
    @include flexCenter();

    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $button-bgc;
  }

  .features-list__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .features-list__text {
    font-size: 14px;
    line-height: 1.7;
  }
}

@media screen and (min-width: $desktop) {
  .features-list {
    @include flexCenter(flex, center, stretch);
    flex-wrap: wrap;
    gap: 30px;
  }

  .features-list__item {
    width: calc((100% - 90px) / 4);
  }

  .features-list__icon {
    @include flexCenter();

    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $button-bgc;
  }

  .features-list__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .features-list__text {
    font-size: 14px;
    line-height: 1.7;
  }
}
