.features-list {
  text-align: center;

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__icon {
    @include flexCenter();

    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $button-bgc;
  }
  &__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
  }
}

//? ================== MOBILE VERSION ==================

@media screen and (min-width: $mobile) {
  .features-list {
    text-align: center;

    &__item {
    }

    &__icon {
      @include flexCenter();

      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;

      background-color: $button-bgc;
    }
    &__title {
      margin-bottom: 10px;

      color: $title-text-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
    }

    &__text {
      font-size: 14px;
      line-height: 1.7;
      text-align: left;
    }
  }
}

//? ================== TABLET VERSION ==================

@media screen and (min-width: $tablet) {
  .features-list {
    @include flexCenter();
    flex-wrap: wrap;
    gap: 30px;

    &__item {
      width: calc((100% - 30px) / 2);

      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }

    &__icon {
      @include flexCenter();

      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;

      background-color: $button-bgc;
    }

    &__title {
      display: flex;
      margin-bottom: 10px;

      color: $title-text-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
    }

    &__text {
      font-size: 14px;
      line-height: 1.7;
    }
  }
}

//? ================== DESKTOP VERSION ==================

@media screen and (min-width: $desktop) {
  .features-list {
    @include flexCenter(flex, center, stretch);
    flex-wrap: wrap;
    gap: 30px;

    &__item {
      width: calc((100% - 90px) / 4);
      margin-bottom: 0;
    }

    &__item:not(:last-child) {
      margin-bottom: 0px;
    }

    &__icon {
      @include flexCenter();

      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;

      background-color: $button-bgc;
    }

    &__title {
      margin-bottom: 10px;
      text-align: left;

      color: $title-text-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
    }

    &__text {
      font-size: 14px;
      line-height: 1.7;
    }
  }
}
