@media screen and (min-width: $desktop) {
  .hero__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: $inverts-color;
  }
}
