.logo {
  display: inline-block;

  color: $logo-color-light-theme;
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.logo__unit {
  color: $main-color;
}

@media screen and (min-width: $desktop) {
  .logo {
    display: inline-block;

    color: $logo-color-light-theme;
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }

  .logo__unit {
    color: $main-color;
  }
}
