@media screen and (min-width: $desktop) {
  .mailing-btn {
    display: inline-flex;
    align-items: center;
    outline: none;

    padding: 10px 28px;
    border-radius: 4px;
    border: transparent;
    margin-left: 12px;
    min-width: 200px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: $inverts-color;
    background-color: $main-color;

    &:hover,
    &:focus {
      background-color: $btn-active-color;
    }
  }

  .mailing-btn__icon {
    margin-left: 10px;
  }
}
