.nav-list {
  display: none;
}

//? ================== TABLET VERSION ==================

@media screen and (min-width: $tablet) {
  .nav-list {
    @include flexCenter();
  }

    .nav-list__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .nav-list__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    outline: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
      color: $main-color;
    }
  }

  .nav-list__link--current {
    color: $main-color;

    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;

      content: '';
      width: 100%;
      height: 4px;

      background-color: $main-color;
      border-radius: 2px;
    }
  }
}

//? ================== DESKTOP VERSION ==================

@media screen and (min-width: $desktop) {
  .nav-list {
    @include flexCenter();
  }

  .nav-list__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .nav-list__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    outline: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
      color: $main-color;
    }
  }

  .nav-list__link--current {
    color: $main-color;

    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;

      content: '';
      width: 100%;
      height: 4px;

      background-color: $main-color;
      border-radius: 2px;
    }
  }
}
