.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portfolio-list__item {
}

.portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }
}

.portfolio-list__overley {
  position: relative;
  overflow: hidden;
}

.portfolio-list__info {
  position: absolute;
  top: 0;
  left: 0;

  @include flexCenter();

  // display: flex;
  // justify-content: center;
  // align-items: center;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  font-family: roboto, sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 3%;
  color: $inverts-color;
  background-color: rgba(33, 150, 243, 0.9);

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-list__border {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid $portfolio-border-color;
  border-bottom: 1px solid $portfolio-border-color;
  border-left: 1px solid $portfolio-border-color;
}

.portfolio-list__title {
  margin-bottom: 4px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__subtitle {
  color: $primary-text-color;
  font-family: roboto;
  font-size: 16px;
  line-height: 1.88;
}
