.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list__item {
  // width: calc((100% - 90px) / 4);

  background: $inverts-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  // &:not(:last-child) {
  //     margin-right: 30px;
  //   }
}

.team-list__img {
  width: 100%;
}

.team-list__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__metier {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: $desktop) {
  .team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  .team-list__item {
    // width: calc((100% - 90px) / 4);

    background: $inverts-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    // &:not(:last-child) {
    //     margin-right: 30px;
    //   }
  }

  .team-list__img {
  }

  .team-list__meta {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .team-list__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  .team-list__metier {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}
