.section {
  // @extend %section;

  padding-top: 60px;
  padding-bottom: 60px;

  &--padding-null {
    padding-top: 0px;
    padding-bottom: 0;
  }

  &--bg-color {
    background-color: $button-bgc;
  }
}

//? ================== MOBILE VERSION ==================

@media screen and (min-width: $mobile) {
  .section {
      padding-left: 15px;
  padding-right: 15px;
  }

}

//? ================== TABLET VERSION ==================

@media screen and (min-width: $tablet) {
}

//? ================== DESKTOP VERSION ==================

@media screen and (min-width: $desktop) {
  .section {
    // @extend %section;

    padding-top: 94px;
    padding-bottom: 94px;

    &--padding-null {
      padding-top: 0px;
    }

    &--bg-color {
      background-color: $button-bgc;
    }
  }
}
