.logo--light-theme {
  margin-right: 0;
}

//? ================== TABLET VERSION ==================

@media screen and (min-width: $tablet) {
  .logo--light-theme {
    margin-right: 87px;
  }
}

//? ================== DESKTOP VERSION ==================

@media screen and (min-width: $desktop) {
  .logo--light-theme {
    margin-right: 93px;
    padding: 24px 0px;
  }
}
