//* COLORS
$primary-text-color: #757575;
$title-text-color: #212121;
$main-color: #2196f3;
$button-bgc: #f5f4fa;
$inverts-color: #ffffff;
$header-border-color: #ececec;
$portfolio-border-color: #eeeeee;
$icon-color: #afb1b8;
$btn-active-color: #188ce8;
$main-bg-color: #2f303a;
$logo-color-light-theme: #000000;
$logo-color-dark-theme: #ffffff;

//* BREAKPOINTS
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
